name: Test

on:
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8, 3.11, 3.14-dev]
        include:
          - os: macos-latest
            python-version: 3.14-dev
          - os: windows-latest
            python-version: 3.14-dev
          - os: windows-latest
            python-version: 3.6

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install wheel
      - run: pip install -e . -r tests/requirements.txt
      - run: pytest

      - run: pip install pytest==6.2.0
        if: matrix.python-version == '3.7'
      - run: pytest
        if: matrix.python-version == '3.7'
